@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: linear-gradient(360deg, rgba(137, 173, 120, 0.25) 0%, rgba(125, 186, 119, 0.25) 35%, rgba(100, 167, 234, 0.25) 100%);
}


/* Use the correct path to your photo */
.bg-photo {
  background-image: url("././assets//photo.png");
  /* background-image: url("././assets/Sys.png"); */
  background-size: cover; /* Adjust this property as needed */
  background-position: center;
  /* background: linear-gradient(90deg, rgba(226, 25, 55, 0.2) 0%, rgba(175, 47, 47, 0.2) 18.7%, rgba(245, 195, 64, 0.2) 100%); */

  /* Other necessary photo background styles */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

#test { 
  color: aqua;
}

#test .active {
  color: black;
}



